@font-face {
	font-family: 'Nexa Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Nexa-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Nexa Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Nexa-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Nexa Book';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Nexa-Book.woff') format('woff');
}

@font-face {
	font-family: 'Nexa Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Nexa-Light.woff') format('woff');
}