
/*
  GENERAL STYLING
*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*========================
      TEXT ELEMENTS
========================*/

h1 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 2.5em;
}

h2 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 1.75em;
  margin-top: 2em;
}

h3 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 1.5em;
  color: #333;
}

h4 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 1.25em;
  color: #333;
}

p {
  font-size: 1.125em;
  font-family: 'Poppins Regular', sans-serif;
  line-height: 1.6;
  color: #333;
}

ul {
  margin: 0;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

li {
  font-size: 1.1em;
  font-family: 'Poppins Regular', sans-serif;
  line-height: 1.6;
  padding-bottom: 0.2em;
  color: #333;
}

/*========================
      NAVIGATION BAR
========================*/

nav {
  height: 6em;
  padding-top: 2em;
  margin: 0 auto;
  z-index: 30;
  position: relative;
  background-color: transparent;
}

nav ul {
  list-style: none;
  margin-top: 0.2em;
  padding: 0;
  display: block;
  float: right;
}

nav ul li {
  float: left;
}

nav a {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  margin-left: 3.2em;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #fff;
}

nav a:hover,
nav a:active,
nav a:focus {
  border-bottom: 3px solid #fff;
}

/*home link is only visible in mobile*/
nav .home-link {
  display: none;
}

/*the logo link in nav bar*/
nav .logo-link, .logo-text {
  float: left;
  margin-left: 0;
}

nav .logo-text {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.02em;
}

/*remove underline from logo link*/
nav .logo-link:hover, .logo-text:hover {
  border: none;
}

/*the hamburger menu button*/
.menu-icon {
  float: right;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.6em;
  font-size: 0.7em;
  cursor: pointer;
  display: none;
}

.menu-icon:hover,
.menu-icon:active,
.menu-icon:focus {
  color: #fff;
  border: 1px solid #fff;
}

/*the logo in the nav bar*/
nav img.logo {
  float: left;
  width: 56px;
  height: auto;
  margin-top: -0.5em;
}

nav img.logo:hover,
nav img.logo:active,
nav img.logo:focus {
  opacity: 0.8;
}

/*hidden/not-hidden classes*/
.hidden {
  display: none;
}

.not-hidden {
  display: block;
}

/*=========================
    INTERACTIVE ELEMENTS
===========================*/

a.button-default,
a.button-default-header,
a.button-default-full-width,
a.button-default-full-width-header {
  display: inline-block;
  color: #0399bc;
  border: solid 2px;
  border-color: #0399bc;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins Medium', sans-serif;
  padding: 0.8em 1em;
  margin-top: 1.6em;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a.button-default-header {
  display: inline-block;
  border-width: 3px;
  color: white;
  background: #0399bc;
  border-color: #0399bc;
  margin-top: 0.6em;
}

a.button-default-full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

a.button-default-full-width-header {
  border-width: 3px;
  display: block;
  color: white;
  background: #0399bc;
  border-color: #0399bc;
  margin-top: 0.6em;
}

a.button-default:hover,
a.button-default-full-width:hover {
  background: #0399bc;
  color: #fff;
}

a.button-default-header:hover,
a.button-default-header:active,
a.button-default-header:focus,
a.button-default-full-width-header:hover,
a.button-default-full-width-header:active,
a.button-default-full-width-header:focus {
  background: #057f93;
  border-color: #057f93;
}

a.link-default {
  font-family: 'Poppins Regular', sans-serif;
  text-decoration: none;
  color: #0399bc;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

a.link-default:hover {
  text-decoration: none;
  color: #016172;
  border-bottom: 1px solid #016172;
}

a.link-alternative {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

a.link-alternative:hover {
  text-decoration: none;
  color: #fff;
}

/*
  CONTACT
*/

#contact {
  height: auto;
  width: 80%;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-top: 1px solid #999;
}

#contact h3 {
  font-size: 1.8em;
  font-family: 'Poppins Medium', sans-serif;
  font-style: normal;
  letter-spacing: 0.1em;
  margin-top: 4em;
}

.exp-info {
  padding-top: 0;
  padding-left: 1.5em;
  width: 85%;
}

.exp-title {
  font-weight: 700;
}

.exp-company {
  font-weight: 400;
  margin-top: -1em;
}

.contact-info {
  margin-top: -1em;
  padding-left: 1.5em;
  width: 85%;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 1.1em;
  margin-top: 1em;
  padding-bottom: 0.5em;

  /*vertically align text with icons*/
  display: flex;
  align-items: center;
}

.contact-info img {
  height: 30px;
  width: 30px;
  margin-right: 1em;
}

label {
  display: block;
  font-family: 'Poppins Regular', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

input[type="text"],
textarea,
select,
select option {
  display: block;
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 300;
  margin-bottom: 2em;
  margin-top: 0.7em;
  border: solid 2px #0399bc;
  width: 100%;
  resize: none;
  font-size: 1em;
  padding: 0.6em;
}

.input-text-default, .input-textarea-default {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 1em;
  padding: 0.9em;
}

.input-text-default:focus, .input-textarea-default:focus {
  color: #333;
  border: 0.1em;
  border-bottom: 0.2em;
  border-style: solid;
  outline: none;
}

/*========================
        HOME PAGE
========================*/

#hero-banner {
  background-image: radial-gradient(circle at top left, /* Adjust position */
    #28c2cb,
    #45a1d1,
    #627fc7,
    #7f5dbe,
    #1a6cb9
  );

  background-size: 200% 100%;
  animation: moveBackground 10s linear infinite;
  display: inline-block;
  width: 100%;
  height: auto;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%, 100% 50%;
  }
  50% {
    background-position: 100% 50%, 0% 50%;
  }
  100% {
    background-position: 0% 50%, 100% 50%;
  }
}

.hero-banner-about {
  height: 18em;
}

.hero-banner-profile {
  display: flex;
  align-items: center;
  text-align: left;
  margin: auto;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1200px;
}

.hero-banner-profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.hero-banner-profile p {
  letter-spacing: 0.02em;
  color: #fff;
}

.hero-banner-text {
  margin: auto;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 6em;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1200px;
}

.hero-banner-text h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  line-height: 1.3;
  display: inline;
  color: #fff;
}

.hero-banner-text p {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  line-height: 1.8;
  display: block;
  margin-top: 1em;
  border-bottom: none;
  color: #fff;
}

/*
  SCROLL DOWN & BACK TO TOP BUTTON
*/

.button-scroll-down {
  margin-top: 0;
}

.button-back-to-top {
  margin-top: 6em;
}

a.button-scroll-down,
a.button-back-to-top {
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a.button-scroll-down img,
a.button-back-to-top img {
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a.button-scroll-down img {
  margin-top: -0.7em;
}

a.button-back-to-top img {
  margin-bottom: -0.7em;
}

a.button-scroll-down p,
a.button-back-to-top p {
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a.button-back-to-top p {
  color: #333;
}

a.button-scroll-down:hover,
a.button-scroll-down:active,
a.button-scroll-down:focus {
  top: 0.3em;
}

a.button-back-to-top:hover,
a.button-back-to-top:active,
a.button-back-to-top:focus {
  top: -0.3em;
}

a.button-scroll-down:hover img,
a.button-scroll-down:active img,
a.button-scroll-down:focus img, 
a.button-back-to-top:hover img,
a.button-back-to-top:active img,
a.button-back-to-top:focus img {
  opacity: 0.7;
}

/*
  ABOUT
*/

#about {
  color: #333;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -14em;
}

.about-bio {
  max-width: 88em;
  margin-left: auto;
  margin-right: auto;
}

.about-image img {
  max-width: 736px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.about-text {
  max-width: 736px;
  text-align: left;
  margin: 0 auto;
}

.about-text h1 {
  font-size: 2em;
  letter-spacing: 0.01em;
  margin-top: 28px;
  margin-bottom: 0;
}

.about-text h2 {
  font-size: 1.5em;
  letter-spacing: 0.01em;
  border-top: 1px solid #ccc;
  margin-top: 32px;
  padding-top: 32px;
}

.about-text img {
  width: 100%;
  margin-top: 1em;
}

.about-text p.about-paragraph,
.about-text p.about-link {
  margin-top: 0;
}

/*========================
        PORTFOLIO
========================*/

#portfolio {
  height: auto;
  max-width: 1200px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.thumbnail-container {
  margin-top: 2em;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.thumbnail-container img {
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 8px;
}

/*scale project image when hover on project thumbnail*/
.thumbnail-container:hover {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  transform: scale(0.99);
}

/*===========================
        GET IN TOUCH
===========================*/

#getintouch {
  background-image: url(../img/bg-getintouch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 5em;
  margin-bottom: -6em;
  padding-top: 4em;
  padding-bottom: 7.2em;
}

.getintouch-content h2,
.getintouch-content p {
  color: #fff;
}

.getintouch-content h2 {
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.getintouch-content p {
  font-size: 1.25em;
}

.getintouch-content p.getintouch-email {
  font-family: 'Poppins Medium', sans-serif;
  padding-top: 0.5em;
}

/*========================
        CONTAINERS
========================*/

.container-centered,
.container-centered-process {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.container-centered-button {
  text-align: center;
}

.feature-item {
  clear: both;
  padding-top: 3em;
  border-top: 1px solid #999;
}

.odd div.feature-info {
  float: right;
}

.odd div.feature-video {
  float: left;
  text-align: center;
}

.even div.feature-info {
  float: left;
}

.even div.feature-video {
  float: right;
  text-align: center;
}

video { 
   width: 100%;
   max-width: 480px;
   height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.appvideo video {
  max-width: 320px;
  margin-bottom: 3em;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

/*==========================
      PROJECT DETAILS
==========================*/

/*tags*/
span.tags {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 1.4em;
  line-height: 1.4;
  color: #666;
  display: block;
  margin-top: -0.3em;
  margin-bottom: 1.5em;
}

/*links inside the tags*/
span.tags a {
  text-transform: uppercase;
}

/*image captions*/
span.caption {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 0.94em;
  margin-top: -0.5em;
  margin-bottom: 3em;
  text-align: center;
  display: block;
  color: #999;
}

/*back button link*/
a.back-to-previous {
  display: inline-block;
  margin-top: 3.8em;
  text-transform: uppercase;
  color: #666;
  font-size: 0.8em
}

/*
  PROJECT PAGE GRID
*/

[class*='grid-']:after {
  content: "";
  display: block;
  clear: both;
}

.grid-project-page h3 {
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

.grid-project-page .col-title {
  width: 100%;
  margin-top: 2em;
  padding-left: 0;
}

.grid-project-page .col-title img {
  max-width: 150px;
}

.grid-project-page .col-title h1 {
  font-size: 2.5em;
  letter-spacing: 0.01em;
  color: #333;
  margin-top: 0.2em;
}

.grid-project-page .col-main {
  float: right;
  padding-left: 0;
}

.grid-project-page .col-main p {
  margin-top: 0;
}

/*project sidebar*/
.grid-project-page .col-sidebar article {
  margin-top: 0;
  margin-bottom: 1em;
}

.grid-project-page .col-sidebar h2 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 0.8em;
  color: #333;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.grid-project-page .col-sidebar p {
  font-size: 1em;
  margin: 0;
}

/*all images*/
.grid-project-page img {
  width: 100%;
  margin-top: 2em;
  border-radius: 8px;
}

/*
  PROJECT PROCESS GRID
*/

.section-title {
  color: #0399bc;
  letter-spacing: 0.05em;
  border-bottom: 0.05em solid #0399bc;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 2em;
}

.grid-process h3 {
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

.grid-process h3.heading-border {
  margin-top: 2.5em;
  padding-top: 15px;
  border-top: 1px solid #999;
}

.grid-process h4.mockups-text {
  margin-bottom: 0.5em;
  text-align: center;
}

/*font size in project process is a bit bigger than default font size*/
.grid-process img {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  margin-bottom: 1.5em;
  border-radius: 8px;
}

.grid-process img.mockups {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.12), 0 10px 20px 0 rgba(0,0,0,0.1);
}

.grid-process iframe {
  width: 100%;
  border: 0;
}

.grid-process .button-default {
  margin-top: 0;
}

/*
  CITATION PAGE GRID
*/

.grid-citation-page .col-title {
  width: 100%;
  margin-top: 3em;
}

.grid-citation-page .col-title h1 {
  font-size: 1.6em;
  letter-spacing: 0.12em;
  color: #333;
}

.grid-citation-page .col-main h2 {
  text-transform: uppercase;
  font-size: 1.25em;
}

.grid-citation-page .col-main h3 {
  font-size: 1.1em;
  margin-top: 1.6em;
}

.grid-citation-page .col-main p {
  margin-top: -0.6em;
}

.grid-citation-page .col-main article {
  margin-bottom: 3em;
}

/*========================
          FOOTER
========================*/

footer {
  background-color: #272f38;
  padding-top: 2em;
  padding-bottom: 4em;
  margin-top: 6em;
}

footer h3 {
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #e9e9e9;
  letter-spacing: 0.1em;
}

footer p {
  font-size: 1em;
  color: #e9e9e9;
  letter-spacing: 0.1em;
  margin-top: -0.4em;
}

footer .footer-container {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

footer .container-footer-link {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

footer .container-footer-link a {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-right: 1.25em;
}

footer .container-footer-copyright {
  margin-top: 2.2em;
  padding-left: 2em;
  padding-right: 2em;
}

/*
  MEDIA QUERIES
*/

/* Responsive nav bar */
@media (max-width: 576px) {
  .menu-icon {
    display: block;
    margin-right: 1.5em;
    margin-left: 2em;
  }

  /*home link is only visible in mobile*/
  nav .home-link {
    display: block;
  }

  nav img.logo {
    float: left;
    margin-top: 0;
    margin-left: 1.5em;
    height: 2.4em;
    width: auto;
  }

  nav .logo-text {
    float: left;
    font-size: 1em;
    margin-top: 0.4em;
    margin-left: 1em;
  }

  nav {
    height: 4em;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }

  nav ul {
    display: none;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }

  nav ul li { 
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    margin: 0;
    padding: 1em;
    width: 100%;
    display: inline-block;
  }

  nav a:hover,
  nav a:active,
  nav a:focus,
  nav a.logo-link:hover,
  nav a.logo-link:active,
  nav a.logo-link:focus {
    border-bottom: none;
    background: none;
  }
}